Lab1/lab1_template_de1soc/db/*
Lab1/lab1_template_de1soc/incremental_db/*

Lab2/lab2_template_de1soc/db/*
Lab2/lab2_template_de1soc/incremental_db/*

Lab3/lab3_template_de1soc/db/*
Lab3/lab3_template_de1soc/incremental_db/*

Lab4/lab4_template_de1soc/db/*
Lab4/lab4_template_de1soc/incremental_db/*

Lab4/lab4_template_de1soc/output_files/*
